/*
////////////////////////////////////////////////////////////////////////////////
//
//  ADOBE SYSTEMS INCORPORATED
//  Copyright 2009 Adobe Systems Incorporated
//  All Rights Reserved.
//
//  NOTICE: Adobe permits you to use, modify, and distribute this file
//  in accordance with the terms of the license agreement accompanying it.
//
////////////////////////////////////////////////////////////////////////////////
*/

@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global
{
	chrome-color: #6F6750;
	color: #4c2600;
	content-background-color: #ffedb8;
	symbol-color: #000000;
	roll-over-color: #b2ad81;
	selection-color: #938f6b;
	focus-color: #999999;
	accent-color:#B7AE93;
}

s|Application,s|Panel,mx|Panel,mx|TitleWindow,mx|TabNavigator,mx|SwatchPanel
{
	background-color: #6F6750;
}

s|RichEditableText
{
	focusedTextSelectionColor: #938f6b;
	unfocusedTextSelectionColor: #938f6b;
}

mx|DataGrid
{
	alternating-item-colors: #ffedb8, #ffedb8;
}

